---
import { getCollection, render } from 'astro:content'
import readingTime from 'reading-time'
import BaseLayout from '../../layouts/BaseLayout.astro';
import {generateBlogPostURL} from '../writing/utils';

export async function getStaticPaths() {
  const birds = await getCollection('birds')
  return birds.map(p => ({
    params: { post: generateBlogPostURL(p)},
    props: { post: p },
  }));
}

const { post } = Astro.props
const { title, description, date } = post.data;
const readingTimeEstimate = readingTime(post.body).text
const permalink = `${Astro.site.href}61-boring-birds/${generateBlogPostURL(post)}`;
const { Content } = await render(post)
---

<BaseLayout title={title} description={description} permalink={permalink} current="writing">
  <header>
    <p>{date} ~ {readingTimeEstimate}</p>
    <h1>{title}</h1>
    <hr />
  </header>
  <div class="container">
    <article class="content">
      <Content />
    </article>

🦢 Next boring bird
🦅 First boring bird
Related boring birds:  Chiffchaff, Whitethroat, Lesser whitethroat, Stock dove, Woodpigeon, Grey heron, Starling, Great spotted woodpecker, Grey heron, Little egret, Great crested grebe, Cormorant, Common tern, Black-headed gull, Shelduck, Pochard,
🦚 All boring birds
Yaffle


  </div>
</BaseLayout>

<style>
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>
