---
import { getCollection, render } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro';
import {generateBlogPostURL} from './utils';

export async function getStaticPaths() {
	const pages = await getCollection('pages')
  return pages.map(page => ({
    params: { page: page.id},
    props: { page },
  }));
}

const { page } = Astro.props

const { title, description, navId } = page.data;
const permalink = `${Astro.site.href}/${page.id}`;
const { Content } = await render(page)
---

<BaseLayout title={title} description={description} permalink={permalink} current={navId}>
  <header>
    <h1>{title}</h1>
    <hr />
  </header>
  <div class="container">
    <article class="content">
      <Content />
    </article>
  </div>
</BaseLayout>

<style>
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>
